; DOS Boot Block Configuration (IBM PS/2 Adapters for Ethernet)
BASE 7C0H
RPL DOS\RPLBOOT.SYS
LDR DOS\RPLLOADR.COM ~
DAT DOS\rtl8019\PROTOCOL.INI
DAT D:\IBMLAN\DOSLAN\LSP\DXM.MSG
EXE D:\IBMLAN\DOSLAN\LSP\NETBIND.COM ~ ~
;DRV D:\IBMLAN\DOSLAN\LSP\DXMT0MOD.SYS PBA=0~S=12~ST=12~C=14~O=N ~
;DRV D:\IBMLAN\DOSLAN\LSP\DXME0MOD.SYS ~ 10 ~
DRV D:\IBMLAN\DOSLAN\LSP\DXMJ0MOD.SYS ~ 17 ~
DRV D:\IBMLAN\DOSLAN\LSP\DXMA0MOD.SYS 001 ~
DRV DOS\PNPND.DOS ~  ~
DRV D:\IBMLAN\DOSLAN\LSP\PROTMAN.DOS /I: ~
