;Link Support
;Buffers 32 638
;MemPool 40K
;Max Boards 4
;Max Stacks 4
Bustype ISA
Fastisa ; Because we're badass

Link driver NE2000
        ; Int     3 ; device driver interrupt is autodetermined
        Port    300                                             
        Frame   Ethernet_802.3
        protocol ipx 0 Ethernet_802.3
        ;Frame  Ethernet_II
        ;protocol ipx 8137 ethernet_II
        
